html {
  position: relative;
  box-sizing: border-box;
  font-size: 0.625vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 320px;
  color: var(--text-color, #383A4C); /* цвет текста */
  background-color: var(--bg-color, #F9F9F9); /* цвет сайта */
  font-family: Roboto, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* (min-width: 1024px) and (max-width: 1599px) */
@media (min-width: 64em) and (max-width: 99.9375em) {
  html {
    /* font-size: (1000/1024) = 0.976563vw // где 1024 это ширина макета */
    font-size: 0.976563vw;
  }
  .container {
    /* Ширина контейнера 964px */
    width: 96.4rem;
  }
}

/* (min-width: 768px) and (max-width: 1023px) */
@media (min-width: 48em) and (max-width: 63.9375em) {
  html {
    /* font-size: (100/768) * 5vw = 0.651042vw; // где 768 это ширина моб версии макета */
    font-size: 0.651042vw;
  }
  .container {
    width: 116rem;
  }
}

/* (max-width: 767px) */
@media (max-width: 47.9375em) {
  html {
    /* font-size: (100/320) * 5vw = 1.5625vw; // где 320 это ширина моб версии макета */
    font-size: 1.5625vw;
  }
  .container {
    width: 58rem;
  }
}